@model ChangePassword

@{
    List<IdentityError> errors = (List<IdentityError>)TempData["Errors"];

    if (errors != null)
    {
        if (errors.Count() > 0)
        {
            <div class="alert-danger">
                <ul class="list-group-item-warning list-unstyled">
                    @foreach (var item in errors)
                    {
                        <li>
                            @item.Description
                        </li>
                    }
                </ul>
            </div>
        }
    }
}

<div class="active w3-container">
    <form asp-controller="Student" asp-action="ChangePassword" method="post"
          class="clearfix">
        <h4 class="h4 text-center">Change password</h4>
        <hr class="clearfix" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="UserName" />

        <div class="form-group w3-container">
            <label asp-for="UserName" class="form-control-label"></label>
            <input asp-for="UserName" disabled="disabled" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group w3-container">
            <label asp-for="OldPassword" class="form-control-label"></label>
            <input asp-for="OldPassword" type="password" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="form-group w3-container">
            <label asp-for="Password" class="form-control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group w3-container">
            <label asp-for="ConfirmPassword" class="form-control-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-inline btn-group w3-container">
            <button type="submit" class="btn btn-outline-primary">Edit</button>
            <a asp-controller="Student" asp-action="Index"
               class="btn btn-outline-success">Back</a>
        </div>

        <br />
        <br />
    </form>
</div>